{% extends 'todo/base.html.twig' %}

{% block list %}

    <button data-bind="click: addFriend">Click</button>

    <h2>List</h2>

    <div data-bind="template: 'friendsTemplate'"></div>



    <script id="friendsTemplate" type="text/html">


        <ul class="todoList" id="sortable" data-bind="sortable: friends">

            <li class="todoListItem">

                <div class="row justify-content-md-center">

                    <div class="col col-lg-auto item-options options-begin">
                        <div class="oi oi-check options-icon option-check-icon" title="check" aria-hidden="true"/>
                    </div>
                    <div class="col-md-5 bord">
                        <span class="todoText" index="" data-bind="text: name, attr: {index: $index}"></span>
                    </div>
                    <div class="col col-lg-auto item-options">
                        <div class="oi oi-x options-icon option-del-icon" title="x" aria-hidden="true" data-bind="click: $parent.deleteItem"/>
                    </div>
                    <div class="col col-lg-auto item-options options-end">
                        <div class="oi oi-cog options-icon option-setting-icon" title="cog" aria-hidden="true"/>
                    </div>

                </div>
            </li>

        </ul>


    </script>



{% endblock %}